@font-face{
  font-family: "Roboto thin";
  src: url('../fonts,images/Roboto-Thin.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "Roboto black";
  src: url('../fonts,images/Roboto-Black.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "Roboto light";
  src: url('../fonts,images/Roboto-Light.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "Roboto bold";
  src: url('../fonts,images/Roboto-Bold.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "Roboto regular";
  src: url('../fonts,images/Roboto-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "Roboto medium";
  src: url('../fonts,images/Roboto-Medium.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "RobotoSlab thin";
  src: url('../fonts,images/RobotoSlab-Thin.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face{
  font-family: "RobotoSlab regular";
  src: url('../fonts,images/RobotoSlab-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* Fonts!!!! */
body {
  margin: 0 auto; }
header {
  background-color: #4a454b;
  position: relative;
  height: 730px; }
.for_cap {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.navbar {
  list-style: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  padding-top: 25px; }
  .navbar li {
    padding: 0 25px; }
    .navbar li a {
      font-size: 15px;
      font-family: "Roboto thin";
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      -webkit-transition: .5s ease;
      transition: .5s ease; }
      .navbar li a:hover {
        text-decoration: none;
        color: #fff;
        opacity: .8; }
      .navbar li a:focus {
        text-decoration: none;
        color: #fff; }
      .navbar li a:active {
        text-decoration: none;
        color: #fff; }
      .navbar li a:visited {
        color: #fff;
        text-decoration: none; }
.logo {
  padding-top: 25px; }
.timer_location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
#down_but {
  display: none; }
.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  padding: 20px 40px;
  border: 1.5px solid #90d23d;
  border-radius: 15px; }
  .timer #delimiter {
    font-family: "RobotoSlab thin";
    font-size: 125px;
    color: #fff; }
  .timer .days_locate, .timer .hours_locate, .timer .minutes_locate, .timer .seconds_locate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 135px;
    margin: 0 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .timer .days_locate span, .timer .hours_locate span, .timer .minutes_locate span, .timer .seconds_locate span {
      font-family: "RobotoSlab thin";
      font-size: 125px; }
    .timer .days_locate p, .timer .hours_locate p, .timer .minutes_locate p, .timer .seconds_locate p {
      font-family: "RobotoSlab regular";
      font-size: 25px; }
    .timer .days_locate span, .timer .days_locate p, .timer .hours_locate span, .timer .hours_locate p, .timer .minutes_locate span, .timer .minutes_locate p, .timer .seconds_locate span, .timer .seconds_locate p {
      color: #fff; }
.background_images img {
  position: absolute; }
  .background_images img:nth-child(1) {
    top: 81%;
    left: 6%;
    z-index: 5; }
  .background_images img:nth-child(2) {
    top: 79%;
    left: 16%;
    z-index: 4; }
  .background_images img:nth-child(3) {
    top: 77%;
    left: 26%;
    z-index: 3; }
  .background_images img:nth-child(4) {
    top: 75%;
    left: 36%;
    z-index: 2; }
  .background_images img:nth-child(5) {
    top: 73%;
    left: 46%;
    z-index: 1; }
#s2 {
  position: relative;
  background: #fff; }
  #s2:before {
    content: "";
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    top: 0;
    z-index: 10;
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg); }
.info {
  z-index: 20; }
  .info h1 {
    font-family: "Roboto black";
    font-size: 50px; }
  .info p {
    font-family: "Roboto light";
    font-size: 14px; }
.for_form {
  z-index: 20;
  position: relative; }
.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #dbdada;
  position: absolute;
  padding: 5px 40px;
  left: 550px;
  bottom: 1px;
  background: #fff; }
  .registration h1 {
    text-align: center;
    font-family: "Roboto bold";
    font-size: 30px; }
  .registration input {
    width: 360px;
    padding: 0 5px;
    height: 55px;
    border: 1px solid #90d23d;
    border-radius: 8px;
    margin: 10px 0;
    font-family: "Roboto light";
    font-size: 17px; }
  .registration .like_button {
    color: #fff;
    text-decoration: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    font-family: "Roboto bold";
    font-size: 20px;
    background: #90d23d; }
    .registration .like_button:hover {
      text-decoration: none;
      color: #fff;
      opacity: .8; }
    .registration .like_button:focus {
      text-decoration: none;
      color: #fff; }
    .registration .like_button:active {
      text-decoration: none;
      color: #fff; }
    .registration .like_button:visited {
      color: #fff;
      text-decoration: none; }
  .registration p {
    text-align: center;
    font-family: "Roboto light";
    font-size: 15px;
    color: #9b9b9b; }
.for_description {
  padding-top: 115px; }
.description_of_events {
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .description_of_events h1 {
    font-size: 35px;
    font-family: "Roboto bold"; }
  .description_of_events p {
    text-align: center;
    font-size: 14px;
    font-family: "Roboto light"; }
  .description_of_events:nth-child(2) img {
    padding-bottom: 13px; }
  .description_of_events:nth-child(3) img {
    padding-bottom: 10px; }
.for_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px; }
.not_mobile_table {
  position: relative;
  z-index: 20;
  border-collapse: separate;
  border: 1px solid transparent; }
  .not_mobile_table tr td {
    padding: 15px 40px;
    font-family: "Roboto regular";
    font-size: 22px;
    color: #fff; }
    .not_mobile_table tr td:first-child {
      text-align: center; }
    .not_mobile_table tr td span {
      background: #fff;
      padding: 5px 12px;
      border-radius: 50px; }
.black_plus {
  color: #373737; }
.grey_plus {
  color: #4b4d4f; }
.row_green {
  background: #a3cc40; }
  .row_green td {
    font-size: 30px !important;
    font-weight: bold !important; }
    .row_green td:nth-child(1) {
      border-radius: 10px 0 0 0; }
    .row_green td:nth-child(3) {
      border-radius: 0 10px 0 0; }
.row_black {
  background: #373737; }
.row_grey {
  background: #4b4d4f; }
  .row_grey:last-child td:first-child {
    border-radius: 0 0 0 10px; }
  .row_grey:last-child td:last-child {
    border-radius: 0 0 10px 0; }
.for_slide_panel {
  z-index: 30;
  display: none; }
  .for_slide_panel div {
    z-index: 30; }
.note {
  position: relative;
  padding: 30px 0 90px 0;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .note p {
    text-align: center;
    width: 75%;
    font-family: "Roboto light";
    font-size: 16px;
    color: #000; }
.information {
  display: none; }
#s3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #4b4d4f;
  padding-bottom: 90px; }
  #s3:before {
    content: "";
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    top: 0;
    z-index: 10;
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg); }
.reward {
  width: 60%;
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .reward h1 {
    text-align: center;
    font-family: "Roboto black";
    font-size: 50px;
    color: #fff; }
  .reward p {
    text-align: center;
    font-family: "Roboto light";
    font-size: 14px;
    color: #fff; }
.button {
  margin-top: 25px; }
  .button a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    font-family: "Roboto regular";
    font-size: 18px;
    padding: 10px 17px;
    background: #90d23d;
    border-radius: 10px; }
    .button a:hover {
      text-decoration: none;
      color: #fff;
      opacity: .8; }
    .button a:focus {
      text-decoration: none;
      color: #fff; }
    .button a:active {
      text-decoration: none;
      color: #fff; }
    .button a:visited {
      color: #fff;
      text-decoration: none; }
#s4 {
  position: relative;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px; }
  #s4:before {
    content: "";
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    top: 0;
    z-index: 10;
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg); }
.about_speaker {
  padding-top: 40px;
  position: relative;
  width: 70%;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .about_speaker h1 {
    font-family: "Roboto black";
    font-size: 50px; }
  .about_speaker p {
    text-align: center;
    font-family: "Roboto light";
    font-size: 14px; }
.for_squares {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around; }
.square {
  margin: 10px 30px;
  height: 290px;
  width: 290px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #90d23d;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .square:hover {
    background: url("../fonts,images/green_back.png") no-repeat center/cover; }
    .square:hover h1 {
      display: block; }
    .square:hover p {
      display: block; }
    .square:hover .for_icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .square h1 {
    display: none;
    padding-left: 15px;
    font-family: "Roboto black";
    font-size: 43px;
    color: #fff; }
  .square p {
    display: none;
    padding-left: 15px;
    font-family: "Roboto medium";
    font-size: 18px;
    color: #fff; }
  .square .for_icons {
    display: none;
    padding-left: 15px;
    font-size: 35px; }
    .square .for_icons i {
      color: #fff;
      margin: 0 10px;
      cursor: pointer; }
.peace {
  background: url("../fonts,images/central-compressor.png") no-repeat center; }
  .peace:hover {
    background: url("../fonts,images/central-compressor.png") no-repeat center; }
#s5 {
  position: relative;
  background: #4b4d4f;
  padding-bottom: 50px; }
  #s5:before {
    content: "";
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    top: 0;
    z-index: 10;
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg); }
.sponsor_content {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .sponsor_content h1 {
    font-family: "Roboto black";
    font-size: 50px;
    color: #fff;
    text-align: center; }
  .sponsor_content p {
    text-align: center;
    font-family: "Roboto light";
    font-size: 14px;
    color: #fff; }
  .sponsor_content .for_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .sponsor_content .for_img img {
      padding: 30px 30px; }
  .sponsor_content .button {
    margin-bottom: 40px; }
    .sponsor_content .button a {
      color: #fff;
      text-decoration: none;
      -webkit-transition: .5s ease;
      transition: .5s ease;
      font-family: "Roboto regular";
      font-size: 22px;
      padding: 10px 20px;
      background: #90d23d;
      border-radius: 10px; }
      .sponsor_content .button a:hover {
        text-decoration: none;
        color: #fff;
        opacity: .8; }
      .sponsor_content .button a:focus {
        text-decoration: none;
        color: #fff; }
      .sponsor_content .button a:active {
        text-decoration: none;
        color: #fff; }
      .sponsor_content .button a:visited {
        color: #fff;
        text-decoration: none; }
#s6 {
  position: relative;
  background: #fff;
  padding-top: 50px; }
  #s6:before {
    content: "";
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: inherit;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    top: 0;
    z-index: 10;
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg); }
.about_past_events {
  position: relative;
  z-index: 20;
  width: 35%;
  margin-left: 150px; }
  .about_past_events h1 {
    font-family: "Roboto black";
    font-size: 35px;
    color: #000; }
  .about_past_events p {
    margin-top: 15px;
    font-family: "Roboto light";
    font-size: 15px;
    color: #000; }
.s6_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 75px 0px;
  -webkit-transition: 1s ease;
  transition: 1s ease; }
  .s6_images img {
    z-index: 20; }
    .s6_images img:nth-child(1) {
      width: 48vw;
      height: 450px; }
    .s6_images img:nth-child(2) {
      width: 45vw;
      height: 450px; }
    .s6_images img:nth-child(3) {
      width: 40vw;
      height: 370px; }
    .s6_images img:nth-child(4) {
      width: 53vw;
      height: 370px; }
    .s6_images img:hover {
      cursor: pointer;
      opacity: .8; }
.button_for_more {
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px; }
  .button_for_more a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    background: #373737;
    font-family: "Roboto regular";
    font-size: 19px;
    padding: 8px 25px;
    border-radius: 10px; }
    .button_for_more a:hover {
      text-decoration: none;
      color: #fff;
      opacity: .8; }
    .button_for_more a:focus {
      text-decoration: none;
      color: #fff; }
    .button_for_more a:active {
      text-decoration: none;
      color: #fff; }
    .button_for_more a:visited {
      color: #fff;
      text-decoration: none; }
.map {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 20;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .map #click {
    z-index: 21;
    position: absolute;
    top: 80%;
    opacity: 0;
    left: 5%; }
    .map #click a {
      color: #fff;
      text-decoration: none;
      -webkit-transition: .5s ease;
      transition: .5s ease;
      font-family: "Roboto regular";
      font-size: 21px;
      background: #90d23d;
      padding: 10px 20px;
      border-radius: 10px; }
      .map #click a:hover {
        text-decoration: none;
        color: #fff;
        opacity: .8; }
      .map #click a:focus {
        text-decoration: none;
        color: #fff; }
      .map #click a:active {
        text-decoration: none;
        color: #fff; }
      .map #click a:visited {
        color: #fff;
        text-decoration: none; }
  .map .popup {
    padding: 60px;
    position: absolute;
    z-index: 100;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .map .popup .popup_first {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 70px; }
      .map .popup .popup_first img {
        padding: 20px 0; }
      .map .popup .popup_first p {
        padding: 20px 0;
        text-align: center;
        font-family: "Roboto medium";
        font-size: 18px; }
      .map .popup .popup_first #opacity_btn {
        margin-top: 20px;
        padding: 10px 20px;
        cursor: pointer;
        background: #90d23d;
        border-radius: 10px; }
        .map .popup .popup_first #opacity_btn a {
          color: #fff;
          text-decoration: none;
          -webkit-transition: .5s ease;
          transition: .5s ease;
          font-family: "Roboto regular";
          font-size: 18px; }
          .map .popup .popup_first #opacity_btn a:hover {
            text-decoration: none;
            color: #fff;
            opacity: .8; }
          .map .popup .popup_first #opacity_btn a:focus {
            text-decoration: none;
            color: #fff; }
          .map .popup .popup_first #opacity_btn a:active {
            text-decoration: none;
            color: #fff; }
          .map .popup .popup_first #opacity_btn a:visited {
            color: #fff;
            text-decoration: none; }
    .map .popup .popup_second #popup_form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .map .popup .popup_second #popup_form .popup_reg {
        border: 1px solid #373737;
        border-radius: 5px;
        padding: 8px 8px;
        font-family: "Roboto medium";
        font-size: 17px;
        outline: none;
        margin-bottom: 20px; }
      .map .popup .popup_second #popup_form textarea {
        resize: none;
        border: 1px solid #373737;
        border-radius: 5px;
        padding: 8px;
        font-family: "Roboto medium";
        font-size: 17px;
        outline: none;
        margin-bottom: 20px; }
      .map .popup .popup_second #popup_form .like_button {
        color: #fff;
        text-decoration: none;
        -webkit-transition: .5s ease;
        transition: .5s ease;
        padding: 10px 20px;
        background: #373737;
        font-family: "Roboto medium";
        font-size: 18px;
        border-radius: 5px;
        border: none; }
        .map .popup .popup_second #popup_form .like_button:hover {
          text-decoration: none;
          color: #fff;
          opacity: .8; }
        .map .popup .popup_second #popup_form .like_button:focus {
          text-decoration: none;
          color: #fff; }
        .map .popup .popup_second #popup_form .like_button:active {
          text-decoration: none;
          color: #fff; }
        .map .popup .popup_second #popup_form .like_button:visited {
          color: #fff;
          text-decoration: none; }
#nav-icon3 {
  display: none; }
footer {
  position: relative;
  background: #90d23d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.footer_info {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer_info p {
    text-align: center;
    font-family: "Roboto light";
    font-size: 17px;
    color: #fff; }
.footer_icons {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .footer_icons i {
    color: #fff;
    font-size: 35px;
    cursor: pointer;
    margin: 0 8px; }
#up {
  position: absolute;
  right: 20%;
  cursor: pointer;
  top: 40%;
  font-size: 45px; }
/* !!!!!!!!!!!! MEDIA QUERIES !!!!!!!!!!!!! */
@media (max-width: 767px) {
  .for_navbar {
    display: none; }
  .timer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px;
    width: 300px;
    padding: 10px;
    border: 1.5px solid #90d23d;
    border-radius: 15px;
    z-index: 10; }
    .timer #delimiter {
      display: none; }
    .timer .days_locate, .timer .hours_locate, .timer .minutes_locate, .timer .seconds_locate {
      width: 250px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .timer .days_locate span, .timer .hours_locate span, .timer .minutes_locate span, .timer .seconds_locate span {
        font-size: 70px; }
      .timer .days_locate p, .timer .hours_locate p, .timer .minutes_locate p, .timer .seconds_locate p {
        font-size: 30px; }
  #down_but {
    display: inline-block !important; }
    #down_but i {
      font-size: 40px;
      color: #fff; }
  .background_images img {
    display: none; }
  .registration {
    position: unset; }
    .registration input {
      width: 240px; }
  .description_of_events {
    padding-bottom: 60px; }
    .description_of_events p {
      width: 80%;
      font-size: 17px; }
  .for_table {
    display: none; }
  .for_slide_panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 15; }
  .slide_panel {
    display: none;
    z-index: 15; }
  .clicker {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #a3cc40;
    width: 300px;
    border-radius: 10px;
    -webkit-transition: 1.3s ease;
    transition: 1.3s ease; }
    .clicker h1 {
      text-align: center;
      font-family: "Roboto black";
      font-size: 15px;
      color: #fff;
      padding-right: 25px; }
    .clicker i {
      font-size: 25px;
      color: #fff;
      cursor: pointer;
      -webkit-transition: 1.3s ease;
      transition: 1.3s ease;
      margin-top: 10px; }
  .test {
    border-radius: 10px 10px 0 0 !important; }
  .transform {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .mobile_table {
    position: relative;
    z-index: 30;
    border-collapse: separate;
    width: 300px; }
    .mobile_table tr:last-child td:first-child {
      border-radius: 0 0 10px 10px;
      border-bottom: none; }
    .mobile_table td {
      background: #4b4d4f;
      text-transform: uppercase;
      border-bottom: 1px solid #000;
      text-align: center;
      font-size: 15px;
      font-family: "Roboto black";
      padding: 15px 13px;
      color: #fff; }
  .note p {
    width: 100%;
    font-size: 15px; }
  .reward {
    width: 80%; }
    .reward h1 {
      font-size: 35px; }
    .reward p {
      font-size: 15px; }
  .peace {
    display: none; }
  .sponsor_content p {
    margin-top: 40px;
    padding: 0px 5px; }
  .for_img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .about_past_events {
    width: 100%;
    margin: 0; }
    .about_past_events h1 {
      text-align: center; }
    .about_past_events p {
      text-align: center; }
  .s6_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0 !important; }
    .s6_images img {
      padding: 25px 0;
      width: 290px !important;
      height: 250px !important; }
  .popup {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px !important; }
    .popup .popup_first {
      margin-right: 0 !important;
      padding-bottom: 15px; }
      .popup .popup_first img {
        width: 100px;
        padding: 10px 0 !important; }
      .popup .popup_first p {
        padding: 5px 0 !important; }
      .popup .popup_first #opacity_btn {
        margin-top: 5px !important;
        padding: 5px 10px; }
  #nav-icon3 {
    margin-top: 50px !important;
    width: 30px;
    display: block;
    margin: 0;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
  #nav-icon3 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #d3531a;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  #nav-icon3 span:nth-child(1) {
    top: 0px; }
  #nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
    top: 6px; }
  #nav-icon3 span:nth-child(4) {
    top: 12px; }
  #nav-icon3.open span:nth-child(1) {
    top: 6px;
    width: 0%;
    left: 50%; }
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  #nav-icon3.open span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%; }
  .for_mobile_nav {
    display: none;
    z-index: 1000; }
  .mobile_nav {
    position: relative;
    z-index: 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .mobile_nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      list-style: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .mobile_nav ul li {
        background: grey;
        text-align: center;
        padding: 10px 0;
        width: 100vw;
        font-family: "Roboto black";
        font-size: 15px;
        color: #fff; }
  .for_cap {
    border-bottom: 2px solid grey; }
  .square:focus {
    background: url("../fonts,images/green_back.png") no-repeat center/cover; }
    .square:focus h1 {
      display: block; }
    .square:focus p {
      display: block; }
    .square:focus .for_icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
@media (min-width: 768px) and (max-width: 991px) {
  .for_cap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .logo img {
    width: 200px; }
  .timer {
    margin-top: 50px;
    padding: 10px 20px; }
    .timer #delimiter {
      font-size: 80px; }
    .timer .days_locate, .timer .hours_locate, .timer .minutes_locate, .timer .seconds_locate {
      width: 75px;
      margin: 0 30px; }
      .timer .days_locate span, .timer .hours_locate span, .timer .minutes_locate span, .timer .seconds_locate span {
        font-size: 80px; }
      .timer .days_locate p, .timer .hours_locate p, .timer .minutes_locate p, .timer .seconds_locate p {
        font-size: 19px; }
  .navbar li {
    padding: 0 15px; }
    .navbar li a {
      font-size: 17px; }
  .registration {
    position: unset; }
  .description_of_events {
    padding-bottom: 60px; }
    .description_of_events p {
      width: 70%;
      font-size: 17px; }
  .not_mobile_table {
    width: 87%; }
    .not_mobile_table td {
      font-size: 19px !important; }
  .peace {
    display: none; }
  .s6_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0 !important; }
    .s6_images img {
      padding: 25px 0;
      width: 650px !important;
      height: 500px !important; }
  .about_past_events {
    width: 100%;
    margin: 0; }
    .about_past_events h1 {
      text-align: center; }
    .about_past_events p {
      text-align: center;
      font-size: 16.5px; }
  .background_images img {
    width: 140px; }
    .background_images img:nth-child(1) {
      top: 84%;
      left: 6%;
      z-index: 5; }
    .background_images img:nth-child(2) {
      top: 83%;
      left: 16%;
      z-index: 4; }
    .background_images img:nth-child(3) {
      top: 82%;
      left: 26%;
      z-index: 3; }
    .background_images img:nth-child(4) {
      top: 81%;
      left: 36%;
      z-index: 2; }
    .background_images img:nth-child(5) {
      top: 80%;
      left: 46%;
      z-index: 1; } }
@media (min-width: 992px) and (max-width: 1200px) {
  .registration {
    left: 410px; } }
@media (min-width: 1400px) {
  .peace {
    display: none; } }
@media (max-width: 490px) {
  .logo img {
    width: 140px;
    height: 40px; }
  .popup {
    padding: 5px !important; }
  .popup_first p {
    font-size: 13px !important; }
  #popup_form {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important; }
    #popup_form input {
      width: 80%; }
    #popup_form textarea {
      width: 80%; }
  .square {
    height: 250px !important;
    width: 250px !important; }
  .footer_info p {
    font-size: 14px; }
  .footer_info i {
    font-size: 30px; }
  #up {
    top: 10%;
    right: 5%;
    font-size: 35px; } }
@media (min-width: 768px) {
  .for_mobile_nav {
    display: none; } }
@media (max-width: 450px) {
  .background_images img {
    width: 75px; } }
@media (min-width: 451px) and (max-width: 767px) {
  .background_images img {
    width: 100px; } }
/*# sourceMappingURL=envato.css.map */